@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url('assets/fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Montserrat-Black';
    src: url('assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



// COLORS
$orange: #DF4500;
$gray: #35302D;
$gray-shine: #3C3735;
$white-off: #DFDBD9;
$color-primary:#f90000;
$color-primary-dark:#a50000;
$color-primary-light:#f22424;
$color-secondary:#100404;
$color-grey-light-1:#f7f7f7;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

body {
    font-family: Montserrat-Black;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(10, 10, 10);
    background-color: #000000;
    padding: 3rem;
    box-sizing: border-box;
}

.container{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}


.content{
  height: 100vh;
  width: 60%;
  top: 0;
  float: left;
  position: relative;
  padding-left: 8.2%;
}

header {
  position: relative;
  background-size: cover;
  background-position: top;
  font-family: Montserrat-Bold;
  color: #000000;
  font-size: 4.8rem;
  line-height: 5.8rem;
  letter-spacing: .84rem;
  top: 8.3rem;
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.side{
  width: 30%;
  position: relative;
  height: 100%;
  float: left;
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
  width: 38rem;
  top: 0;
  left: 0;
  background-color: #111;
  background-image: linear-gradient(-180deg, rgba(173,107,255,1) 30%, rgba(173,107,251,0.85) 50%, #9291FB 38%, rgba(141,152,251,0.85) 84%, rgba(116,188,247,0.00) 100%);
}

button:focus {
  outline:0;
}

.ui-button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
}

.arrow {
  margin: 6rem 0rem 0rem 1.7rem;
  height: 3rem;
  width: 5rem;
  background: url(./assets/images/back-wh.png) no-repeat;
}

.plus{
  height: 3rem;
  width: 5rem;
  background: url(./assets/images/plus-dk.png) no-repeat;
  float: right;
  margin-top: 4rem;
}


.unstyled{ list-style: none; padding: 0; margin: 0;
  a{ text-decoration: none; }
}
.list-inline{ overflow: hidden;
  li{ float: left; }
}


.main-nav{

  ul{
    border-top: solid 1px $gray-shine;
  }

  li{
    border-bottom: solid 1px $gray-shine;
  }

  a{
    padding: 1.1em 0;
    color: $white-off;
    text: {
      align: center;
      transform: lowercase;
    }

    &:hover{
      color: #fff;
    }
  }
}

// SOCIAL LINKS
.social-links{
  border-bottom: solid 1px $gray-shine;

  li{
    width: 25%;
    border-left: solid 1px $gray-shine;
    &:first-child{ border: none; }
  }

  a{
    display: block;
    height: 5.5em;
    text-align: center;
    color: $gray-shine;
    &:hover{
      color: $white-off;
    }
  }
}

// HOVER SLIDE EFFECT
.list-hover-slide{

  li{
    position: relative;
    overflow: hidden;
  }

  a{
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;

    &:before{
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -100%; top: 0;
      width: 100%; height: 100%;
      border-right: solid 5px $orange;
      background: $gray-shine;
      transition: .35s ease left;
    }

    &.is-current,
    &:hover{

      &:before{
        left: 0;
      }
    }
  }
}

@media (max-width: 750px) {

  body {
    padding: 0rem;
}

  .content {
        top: 0;
        float: left;
        position: relative;
        width: 60%;
        z-index: 10;

        & header {
          left: -11rem;
          position: relative;
          top: 6.5rem;
          font-family: Montserrat-Bold;
          font-size: 4rem;
          letter-spacing: .7rem;
        }
   }

   .side {
    width: 40%;

    & .sidenav{
      width: 100%;
    }
  }

  .arrow{
    margin-top: 2rem;
  }
  .plus{
    margin-top: -3rem;
  }

}

// ----------------------------- key Frames ------------------------------------

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    80% {
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
